<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>blockdiag: testing form</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript">
    <!--
      function loadImage() {
          url = encodeURI($("#source").val())
          $("#image_area").html(url + '<image src="/image?src=' + url + '" />');
      }
      -->
    </script>
  </head>
  <body>
    <div id="image_area" style="height: 500px"></div>
    Diagram source:<br />
    <textarea id="source" cols="80" rows="10"></textarea><br />
    <input type="button" value="Update" onclick="loadImage();" />
  </body>
</html>
