<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>blockdiag diagram generator</title>
  </head>
  <body>
    <h1><a href="http://tk0miya.bitbucket.org/blockdiag/build/html/index.html">blockdiag</a> image generator (for non IE browers)</h1>
    <h2>Source:</h2>
    <form action="/upload/" enctype="multipart/form-data" method="post">
      <div><label>PNG Icon file (smaller than 32x32)</label><input type="file" name="img" /></div>
      <div><input type="submit" value="Send image" /></div>
    </form>
  </body>
</html>
